aiofiles==23.2.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
astroid==3.0.1
asttokens==2.2.1
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
boltons==23.1.1
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.8
Django==4.1.5
einops==0.4.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
ffmpy==0.3.1
filelock==3.13.1
Fiona==1.9.1
Flask==2.2.2
flatbuffers==23.5.26
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
geographiclib==2.0
geopandas==0.12.2
geopy==2.3.0
gradio_client==0.10.0
h11==0.14.0
httpcore==1.0.3
httpx==0.27.0
huggingface-hub==0.20.3
humanfriendly==10.0
idna==3.6
importlib-resources==6.1.1
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.1
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
MouseInfo==0.1.3
mpmath==1.2.1
multidict==6.0.4
munch==2.5.0
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.1
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.0rc1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.26.4
od==2.0.2
omegaconf==2.2.3
opencv-python==4.9.0.80
openpyxl==3.1.2
orjson==3.9.10
outcome==1.3.0.post0
packaging==21.3
pandas==2.2.1
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==4.1.0
prometheus-client==0.15.0
prompt-toolkit==3.0.33
proplot==0.9.5
protobuf==4.21.12
psutil==5.9.5
pure-eval==0.2.2
PyAutoGUI==0.9.53
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
pygame==2.1.3.dev8
PyGetWindow==0.0.9
pygit2==1.12.2
Pygments==2.13.0
pylint==3.0.2
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
pyproj==3.4.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5-stubs==5.15.6.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent==0.19.2
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.4
python-multipart==0.0.6
Python-NBT==1.2.0
python-telegram-bot==21.0.1
pytweening==1.0.4
pytz==2024.1
pywin32==305
pywinpty==2.0.9
PyYAML==6.0
pyzmq==24.0.1
regex==2023.12.25
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
safetensors==0.3.1
schedule==1.2.1
scipy==1.9.3
seaborn==0.12.1
selenium==4.18.1
semantic-version==2.10.0
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.6.2
starlette==0.35.1
sympy==1.11.1
terminado==0.17.1
tinycss2==1.2.1
tokenizers==0.13.3
tomlkit==0.12.2
toolz==0.12.0
torch==2.3.0.dev20240118+cu118
torchaudio==2.2.0.dev20240118+cu118
torchvision==0.18.0.dev20240118+cu118
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
trampoline==0.1.2
trio==0.24.0
trio-websocket==0.11.1
turtle==0.0.1
typing_extensions==4.10.0
tzdata==2024.1
uri-template==1.2.0
urllib3==2.2.1
uvicorn==0.26.0
virtualenv==20.25.0
wcwidth==0.2.5
webcolors==1.12
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.4.2
websockets==11.0.3
Werkzeug==2.2.2
wsproto==1.2.0
yarl==1.9.4
